ul {
    list-style-type: none;
}

li {
    float: left;
    padding: 15px 5px;
    text-align: center;
    margin-right: 10px;
    background-color: aqua;
    
}

li:hover {
    background-color: aliceblue;
    color: blueviolet;
}

a {
    text-decoration: none;
    color: black;
}