h1 {
    counter-reset: contador1;
}

h2 {
    counter-reset: contador2;
}

h2::before {
    content: counter(contador1, upper-alpha)". ";
    counter-increment: contador1;
}

h3 {
    counter-reset: contador3;
}

h3::before {
    content: counter(contador2, upper-alpha)". ";
    counter-increment: contador2;
    
}

p::before {
    content: counter(contador2, upper-alpha)"-" counter(contador3)". ";
    counter-increment: contador3;
}